{% extends "index.html" %} 

{% block content %}

    <div class="img">
        {% load static %}
        <img src="{% static 'images/24zeyUXRA7ckkf8bj2SMcc.jpg' %}">
    </div>
    <div class="text">
        <h1>Quantum computing</h1>
        is the exploitation of collective properties of quantum states, 
        such as superposition and entanglement, to perform computation. 
        The devices that perform quantum computations are known as quantum computers.
        They are believed to be able to solve certain computational problems, 
        such as integer factorization (which underlies RSA encryption), 
        substantially faster than classical computers. 
        The study of quantum computing is a 
        subfield of quantum information science. 
        Expansion is expected in the next few years as the field shifts toward 
        real-world use in pharmaceutical, 
        data security and other applications.
    </div>

{% endblock %}
